{{#with error }}
    <div class="outer">
        <div class="inner">
            <span class="close"></span>
            <span class="upper-title">{{ title }}</span>
            <span class="underline"></span>
            <p>{{ message }}</p>
        </div>
    </div>
{{/with}}