@import "components/common.less";
@import "components/loader.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content{
    width: 100%;
    height: 100%;
    position: relative;
    background: @black;
    overflow: hidden;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  part start                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: @black;
    transition: all 1.2s @easing 0s;
    will-change: transform;
    overflow: visible;
    .photo-holder{
        width: 37.5%;
        height: 100%;
        float: left;
    }
    .right-content-holder{
        width: 62.5%;
        height: 100%;
        float: left;
        position: relative;
    }
    .info-holder{
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        transform: translateY(-50%);
        .info{
            position: relative;
            z-index: 20;
        }
        h1, h2{
            text-transform: uppercase;
        }
        h1, h2, p, .upper-title{
            color: @white;
            text-align: left;
        }
        .upper-title{
            display: block;
            font-size: 1.25em;
            font-family: @djsl;
            padding: 0 0 20px 40px;
        }
        .underline{ margin-left: -40px; }
        h2{ padding: 40px 0 0 80px;  }
        p{ padding: 20px 20% 0 40px; }
        .btn{ margin: 80px 0 0 80px; }
    }
    .background-date-holder{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-40px) translateY(-30%);
        font-family: @djsl;
        font-size: 14vw;
        color: @grey;
        text-align: left;
    }
    .background-circle-holder{
        width: 50%;
        padding-top: 50%;
        position: absolute;
    }
    .circle-dashed{
        position: absolute;
        top: 0;
        left: 0;
    }
    .close{
        position: absolute;
        z-index: 10;
    }
    &.right-side{
        .photo-holder,
        .right-content-holder{
            float: right;
        }
        .info-holder{
            h1, h2, p, .upper-title{
                text-align: right;
            }
            .upper-title{ padding: 0 40px 20px 0; }
            .underline{
                margin: 0 -40px 0 0;
                float: right;
            }
            h2{
                padding: 40px 80px 0 0;
                clear: right;
            }
            p{ padding: 20px 40px 0 20%; }
            .btn{
                margin: 80px 80px 0 0;
                float: right;
            }
        }
        .background-date-holder{
            transform: translateX(40px) translateY(-30%);
            text-align: right;
        }
        .close{
            &:before{
                left: auto;
                right: 0;
                transform: translateX(60px);
            }
            &:hover{
                &:before{ transform: translateX(80px); }
            }
        }
    }
}

.part-holder{
    &.center{ transform: translateX(0%) translateY(0%); }
    &.top-left{ transform: translateX(-100%) translateY(-100%); }
    &.top-middle{ transform: translateX(0%) translateY(-100%); }
    &.top-right{ transform: translateX(100%) translateY(-100%); }
    &.bottom-left{ transform: translateX(-100%) translateY(100%); }
    &.bottom-right{ transform: translateX(100%) translateY(100%); }
}

#page.top-left{
    .part-holder{
        &.center{ transform: translateX(100%) translateY(100%); }
        &.top-left{ transform: translateX(0%) translateY(0%); }
    }
}
#page.top-middle{
    .part-holder{
        &.center{ transform: translateX(0%) translateY(100%); }
        &.top-middle{ transform: translateX(0%) translateY(0%); }
    }
}
#page.top-right{
    .part-holder{
        &.center{ transform: translateX(-100%) translateY(100%); }
        &.top-right{ transform: translateX(0%) translateY(0%); }
    }
}
#page.bottom-left{
    .part-holder{
        &.center{ transform: translateX(100%) translateY(-100%); }
        &.bottom-left{ transform: translateX(0%) translateY(0%); }
    }
}
#page.bottom-right{
    .part-holder{
        &.center{ transform: translateX(-100%) translateY(-100%); }
        &.bottom-right{ transform: translateX(0%) translateY(0%); }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  part end                                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  center part start                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.center{
    .photo-holder{
        width: 100%;
        height: 100%;
        float: none;
        position: relative;
        & > li{
            display: block;
            width: 25%;
            height: 100%;
            float: left;
            position: relative;
            overflow: hidden;
            .circle-dashed{
                position: absolute;
                top: auto;
                left: 50%;
                bottom: 80px;
                margin-left: -20px;
                z-index: 5;
                &:hover,
                &.active{
                    & + .participant-photo:before{ opacity: 0; }
                }
            }
            .participant-photo{
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                &:before{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    background: @black;
                    opacity: 1;
                    transition: all .6s @easing 0s;
                }
            }
            &:nth-child(1){
                .participant-photo{
                    background: url("@{images}makar.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
            &:nth-child(2){
                .participant-photo{
                    background: url("@{images}kytikov.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
            &:nth-child(3){
                .participant-photo{
                    background: url("@{images}efremov.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
            &:nth-child(4){
                .participant-photo{
                    background: url("@{images}derjavin.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
        }
    }
    .background-circle-holder{
        width: 33.3333333%;
        padding-top: 33.3333333%;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%) translateY(-50%);
        &:before{
            top: 0;
            left: 0;
            border: 60px solid @grey;
        }
    }
    .info-holder{
        width: 100%;
        max-width: 100%;
        float: none;
        .upper-title,
        h1, p{
            text-align: center;
        }
        .upper-title{ padding: 0; }
        .underline{
            width: 80px;
            margin: 20px auto 40px;
        }
        p{
            padding: 0 20%;
        }
        .btn{ margin: 80px auto 0; }
        .social-holder{
            display: block;
            width: 300px;
            height: auto;
            margin: 20px auto 0;
            text-align: center;
            & > li{
                display: inline-block;
                vertical-align: top;
                margin: 0 10px;
                a{
                    font-size: 1.5em;
                    color: @white;
                }
            }
        }
    }
    .arrow-down-holder{
        display: none;
        width: 48px;
        height: 48px;
        position: absolute;
        left: 50%;
        bottom: 80px;
        z-index: 10;
        margin-left: -24px;
        overflow: hidden;
        .icon{
            display: block;
            font-size: 2em;
            color: @white;
            line-height: 48px;
            text-align: center;
            &:before{ vertical-align: middle; }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  center part end                           */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top middle part start                     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.top-middle{
    background: @black url("@{images}top-middle-bg.png") no-repeat 50% 100%;
    .close{
        top: 80px;
        right: 80px;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top middle part end                       */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top left part start                       */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.top-left{
    .photo-holder{
        background: url("@{images}makar-part.jpg") no-repeat 50% 0%;
        background-size: cover;    
    }
    .right-content-holder{
        .initials-letter{
            &.a{
                top: 100%;
                left: 0;
                transform: translateX(-50%) translateY(-75%);
            }
            &.m{
                top: 0;
                right: 0;
                transform: translateX(-25%) translateY(-35%);
            }
        }
        .circle-dashed{
            top: auto;
            left: auto;
            right: 80px;
            bottom: 80px;
            pointer-events: none;
        }
        .background-circle-holder{
            right: 0;
            bottom: 0;
            &:before{
                transform: translateX(50%) translateY(50%);
            }
        }
        .close{
            top: 80px;
            right: 80px;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top left part end                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top right part start                      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.top-right{
    .photo-holder{
        background: url("@{images}kytikov-part.jpg") no-repeat 50% 0%;
        background-size: cover;    
    }
    .right-content-holder{
        .initials-letter{
            &.a{
                top: 0;
                left: 0;
                transform: translateX(50%) translateY(-35%);
            }
            &.k{
                right: 0;
                bottom: 0;
                transform: translateX(30%) translateY(30%);
            }
        }
        .background-circle-holder{
            left: 0;
            bottom: 0;
            &:before{
                transform: translateX(-50%) translateY(50%);
            }
        }
        .circle-dashed{
            top: auto;
            left: 80px;
            bottom: 80px;
            pointer-events: none;
        }
        .close{
            top: 80px;
            left: 80px;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top right part end                        */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom left part start                    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.bottom-left{
    .photo-holder{
        background: url("@{images}efremov-part.jpg") no-repeat 50% 0%;
        background-size: cover;
    }
    .right-content-holder{
        .initials-letter{
            &.v{
                top: 0;
                left: 0;
                transform: translateX(-50%) translateY(-35%);
            }
            &.e{
                right: 0;
                bottom: 0;
                transform: translateX(-30%) translateY(30%);
            }
        }
        .background-circle-holder{
            top: 0;
            right: 0;
            &:before{
                transform: translateX(50%) translateY(-50%);
            }
        }
        .circle-dashed{
            top: 80px;
            left: auto;
            right: 80px;
            pointer-events: none;
        }
        .close{
            right: 80px;
            bottom: 80px;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom left part end                      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom right part start                   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.bottom-right{
    .photo-holder{
        background: url("@{images}derjavin-part.jpg") no-repeat 50% 0;
        background-size: cover;
    }
    .right-content-holder{
        .initials-letter{
            &.a{
                top: 100%;
                left: 0;
                transform: translateX(50%) translateY(-75%);
            }
            &.d{
                top: 0;
                right: 0;
                transform: translateX(40%) translateY(-35%);
            }
        }
        .background-circle-holder{
            top: 0;
            left: 0;
            &:before{
                transform: translateX(-50%) translateY(-50%);
            }
        }
        .circle-dashed{
            top: 80px;
            left: 80px;
            pointer-events: none;
        }
        .close{
            left: 80px;
            bottom: 80px;
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom right part end                     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and @notebook{

    .part-holder{
        .background-date-holder{
            transform: translateX(-40px) translateY(-16%);
        }
        &.right-side{
            .background-date-holder{
                transform: translateX(40px) translateY(-16%);
            }
        }
    }

}

@media only screen and @tablet{
    
    #content{ overflow: visible; }

    .part-holder{
        position: relative;
        z-index: 0;
        overflow: hidden;
        &.center,
        &.top-left,
        &.top-middle,
        &.top-right,
        &.bottom-left,
        &.bottom-right{
            transform: translateX(0%) translateY(0%);
        }
        .photo-holder,
        .right-content-holder{
            width: 100%;
            height: 100%;
            float: none;
            position: absolute;
            top: 0;
            left: 0;
        }
        .photo-holder{ overflow: hidden; }
        .right-content-holder{ z-index: 10; }
        .info-holder{
            top: auto;
            left: 0;
            bottom: 80px;
            transform: translateY(0%);
            .upper-title{ padding: 0 0 20px 40px; }
            .underline{ margin-left: 0px; }
            h2{ padding: 40px 0 0 40px;  }
            p{ padding: 20px 40px 0 40px; }
            .btn{ margin: 80px 0 0 40px; }
        }
        .initials-letter,
        .background-date-holder,
        .background-circle-holder,
        .circle-dashed,
        .close{
            display: none;
        }
        &.right-side{
            .info-holder{
                .upper-title{ padding: 0 40px 20px 0; }
                .underline{ margin: 0; }
                h2{ padding: 40px 40px 0 40px; }
                p{ padding: 20px 40px 0; }
                .btn{ margin: 80px 40px 0 0; }
            }
        }
    }

    .part-holder.center{
        .photo-holder{ display: none; }
        .background-circle-holder{
            display: block;
            width: 80%;
            padding-top: 80%;
        }
        .info-holder{
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            p{ padding: 0 40px; }
        }
        .arrow-down-holder{ display: block; }
    }
    
    .part-holder.top-middle{
        position: absolute;
        z-index: 20;
        transform: translateY(-100%);
        &.active{ transform: translateY(0%); }
        .close{
            display: block;
        }
    }

}

@media only screen and @mobile{

    .part-holder{
        .info-holder{
            bottom: 40px;
            .upper-title{ display: none; }
            .underline{ display: none; }
            h2{ padding: 0 20px 0;  }
            p{ padding: 20px 20px 0; }
            .btn{ margin: 40px 0 0 20px; }
        }
        &.right-side{
            .info-holder{
                h2{ padding: 0 20px 0; }
                p{ padding: 20px 20px 0; }
                .btn{ margin: 40px 20px 0 0; }
            }
        }
    }

    .part-holder.center{
        .info-holder{
            .upper-title,
            .underline{
                display: none;
            }
            h1{
                margin-top: 40px;
                padding: 0 40px;
            }
            p{ padding: 0 20px; }
            .btn{ margin: 40px auto 0; }
            .social-holder{ width: 100%; }
        }
        .arrow-down-holder{
            display: none;
        }
    }

    .part-holder.top-middle{
        .close{
            top: 40px;
            right: 40px;
        }
    }

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/