@import "components/common.less";
@import "components/loader.less";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content{
    width: 100%;
    height: 100%;
    position: relative;
    background: @black;
    overflow: hidden;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  layout end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  header start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page.tl,
#page.tr,
#page.bl,
#page.br{
    #header{
        opacity: 0;
        visibility: hidden;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  header end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  menu start                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page.tl,
#page.tr,
#page.bl,
#page.br{
    #toggle-menu{
        opacity: 0;
        visibility: hidden;
        transition: all .75s @easing 0s;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  menu end                                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  initials letter start                     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.initials-letter{
    display: inline-block;
    position: absolute;
    font-size: 20vw;
    color: @grey;
    text-transform: uppercase;
    overflow: hidden;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  initials letter end                       */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  part start                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: @black;
    transition: all .75s @easing 1.25s;
    transform: translateX(-100%);
    will-change: transform;
    overflow: hidden;
    .photo-holder{
        width: 37.5%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        &:after{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: @black;
            transition: all .75s @easing .5s;
        }
    }
    .right-content-holder{
        width: 62.5%;
        height: 100%;
        float: left;
        position: relative;
        .initials-letter{
            opacity: 0;
            visibility: hidden;
            transition: all .75s @easing 0s;
        }
    }
    .info-holder{
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .75s @easing 0s;
        .info{
            position: relative;
            z-index: 20;
        }
        h1, h2{
            text-transform: uppercase;
        }
        h1, h2, p, .upper-title{
            color: @white;
            text-align: left;
        }
        .upper-title{
            display: block;
            font-size: 1em;
            font-family: @djsl;
            padding: 0 0 20px 20px;
            text-transform: uppercase;
        }
        .underline{ margin-left: -40px; }
        h2{ padding: 40px 0 0 40px;  }
        p{ padding: 10px 80px 0 20px; }
        a{
            display: inline-block;
            color: @white;
            float: right;
            margin: 80px 160px 0 0;
            .arrow{ padding-left: 20px; }
            &:hover{
                .arrow{
                    transform: translateX(20px);
                }
            }
        }
    }
    .background-date-holder{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-40px) translateY(-30%);
        font-family: @djsl;
        font-size: 14vw;
        color: @grey;
        text-align: left;
    }
    &.right-side{
        .photo-holder,
        .right-content-holder{
            float: right;
        }
        .info-holder{
            h1, h2, p, .upper-title{
                text-align: right;
            }
            .upper-title{ padding: 0 20px 20px 0; }
            .underline{
                margin: 0 -40px 0 0;
                float: right;
            }
            h2{
                padding: 40px 40px 0 0;
                clear: right;
            }
            p{ padding: 10px 20px 0 160px; }
            a{ margin: 80px 80px 0 0; }
        }
        .background-date-holder{
            transform: translateX(40px) translateY(-30%);
            text-align: right;
        }
    }
}

#close-part{
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 20;
    opacity: 0;
    font-size: 1em;
    color: @white;
    cursor: pointer;
    visibility: hidden;
    transition: all .75s @easing 0s;
    &:before{
        display: block;
        width: 40px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(-60px) translateY(-50%);
        content: "";
        background: @white;
        transition: all .5s @easing 0s;
    }
    &:hover{
        &:before{ transform: translateX(-80px) translateY(-50%); }
    }
}

#bg-circle-holder{
    opacity: 0;
    visibility: hidden;
}

#page.tl,
#page.tr,
#page.br,
#page.bl{
    .part-holder{
        .photo-holder{
            &:after{
                transform: translateX(100%);
                transition: all .75s @easing .75s;
            }
        }
        .initials-letter,
        .info-holder{
            opacity: 1;
            visibility: visible;
            transition: all .75s @easing 1s;
        }
    }
    #bg-circle-holder,
    #close-part{
        opacity: 1;
        visibility: visible;
        transition: all .75s @easing 0s;
    }
    #close-part{ transition: all .75s @easing 1s; }
}

#page.tl{
    .part-holder.top-left{
        transform: translateX(0%);
        transition: all .75s @easing 0s;
    }
    #bg-circle-holder{
        animation: circleTL .5s @easing .75s 1 forwards;
    }
}
#page.tr{
    .part-holder.top-right{
        transform: translateX(0%);
        transition: all .75s @easing 0s;
    }
    #bg-circle-holder{
        animation: circleTR .5s @easing .75s 1 forwards;
    }
}
#page.bl{
    .part-holder.bottom-left{
        transform: translateX(0%);
        transition: all .75s @easing 0s;
    }
    #bg-circle-holder{
        animation: circleBL .5s @easing .75s 1 forwards;
    }
}
#page.br{
    .part-holder.bottom-right{
        transform: translateX(0%);
        transition: all .75s @easing 0s;
    }
    #bg-circle-holder{
        animation: circleBR .5s @easing .75s 1 forwards;
    }
}

@keyframes circleTL{
    0% {
        top: 50%;
        left: 50%;
    }
    100% {
        top: 100%;
        left: 100%;
    }
}
@keyframes circleTR{
    0% {
        top: 50%;
        left: 50%;
    }
    100% {
        top: 100%;
        left: 0%;
    }
}
@keyframes circleBL{
    0% {
        top: 50%;
        left: 50%;
    }
    100% {
        top: 0%;
        left: 100%;
    }
}
@keyframes circleBR{
    0% {
        top: 50%;
        left: 50%;
    }
    100% {
        top: 0%;
        left: 0%;
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  part end                                  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  center part start                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.center{
    transform: translateX(0%);
    .participants-photo-holder{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        & > li{
            display: block;
            width: 25%;
            height: 100%;
            float: left;
            position: relative;
            overflow: hidden;
            .btn-small{
                position: absolute;
                left: 50%;
                bottom: 80px;
                z-index: 20;
                transform: translateX(-50%);
                &:hover{
                    & + .participant-photo{
                        &:before{
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
            .participant-photo{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                &:before{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    opacity: 1;
                    visibility: visible;
                    background: @black;
                    transition: all .5s @easing 0s;
                }
            }
            &:nth-child(1){
                .participant-photo{
                    background: url("@{images}makar.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
            &:nth-child(2){
                .participant-photo{
                    background: url("@{images}kytikov.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
            &:nth-child(3){
                .participant-photo{
                    background: url("@{images}efremov.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
            &:nth-child(4){
                .participant-photo{
                    background: url("@{images}derjavin.jpg") no-repeat 0% 0%;
                    background-size: cover;
                }
            }
        }
    }
    .info-holder{
        width: 100%;
        max-width: 100%;
        padding: 0 12.5% 0 16.66666666666667%;
        z-index: 20;
        float: none;
        box-sizing: border-box;
        opacity: 1;
        visibility: visible;
        .upper-title,
        h1, p{
            text-align: left;
        }
        .upper-title{ padding: 0 0 20px 60px; }
        .underline{
            width: 80px;
            margin: 0;
        }
        h1{ padding: 40px 80px 0; }
        p{ padding: 0 80px 0 60px; }
    }
    .arrow-down-holder{
        display: none;
        width: 48px;
        height: 48px;
        position: absolute;
        left: 50%;
        bottom: 80px;
        z-index: 10;
        margin-left: -24px;
        overflow: hidden;
        .icon{
            display: block;
            font-size: 2em;
            color: @white;
            line-height: 48px;
            text-align: center;
            &:before{ vertical-align: middle; }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  center part end                           */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top left part start                       */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.top-left{
    .photo-holder{
        background: url("@{images}makar-part.jpg") no-repeat 50% 0%;
        background-size: cover;
    }
    .right-content-holder{
        .initials-letter{
            &.a{
                top: 100%;
                left: 0;
                transform: translateX(-50%) translateY(-75%);
            }
            &.m{
                top: 0;
                right: 0;
                transform: translateX(-25%) translateY(-35%);
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top left part end                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top right part start                      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.top-right{
    .photo-holder{
        background: url("@{images}kytikov-part.jpg") no-repeat 50% 0%;
        background-size: cover;    
    }
    .right-content-holder{
        .initials-letter{
            &.a{
                top: 0;
                left: 0;
                transform: translateX(50%) translateY(-35%);
            }
            &.k{
                right: 0;
                bottom: 0;
                transform: translateX(30%) translateY(30%);
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  top right part end                        */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom left part start                    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.bottom-left{
    .photo-holder{
        background: url("@{images}efremov-part.jpg") no-repeat 50% 0%;
        background-size: cover;
    }
    .right-content-holder{
        .initials-letter{
            &.v{
                top: 0;
                left: 0;
                transform: translateX(-50%) translateY(-35%);
            }
            &.e{
                right: 0;
                bottom: 0;
                transform: translateX(-30%) translateY(30%);
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom left part end                      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom right part start                   */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.part-holder.bottom-right{
    .photo-holder{
        background: url("@{images}derjavin-part.jpg") no-repeat 50% 0;
        background-size: cover;
    }
    .right-content-holder{
        .initials-letter{
            &.a{
                top: 100%;
                left: 0;
                transform: translateX(50%) translateY(-75%);
            }
            &.d{
                top: 0;
                right: 0;
                transform: translateX(40%) translateY(-35%);
            }
        }
    }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  bottom right part end                     */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive start                            */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and @notebook{

    .part-holder{
        .background-date-holder{
            transform: translateX(-40px) translateY(-16%);
        }
        &.right-side{
            .background-date-holder{
                transform: translateX(40px) translateY(-16%);
            }
        }
    }

}

@media only screen and @tablet{
    
    #content{ overflow: visible; }

    .part-holder{
        position: relative;
        z-index: 0;
        overflow: hidden;
        &.center,
        &.top-left,
        &.top-middle,
        &.top-right,
        &.bottom-left,
        &.bottom-right{
            transform: translateX(0%) translateY(0%);
        }
        .photo-holder,
        .right-content-holder{
            width: 100%;
            height: 100%;
            float: none;
            position: absolute;
            top: 0;
            left: 0;
        }
        .photo-holder{ overflow: hidden; }
        .right-content-holder{ z-index: 10; }
        .info-holder{
            top: auto;
            left: 0;
            bottom: 80px;
            transform: translateY(0%);
            .upper-title{ padding: 0 0 20px 40px; }
            .underline{ margin-left: 0px; }
            h2{ padding: 40px 0 0 40px;  }
            p{ padding: 20px 40px 0 40px; }
            .btn{ margin: 80px 0 0 40px; }
        }
        .initials-letter,
        .background-date-holder,
        .background-circle-holder,
        .circle-dashed,
        .close{
            display: none;
        }
        &.right-side{
            .info-holder{
                .upper-title{ padding: 0 40px 20px 0; }
                .underline{ margin: 0; }
                h2{ padding: 40px 40px 0 40px; }
                p{ padding: 20px 40px 0; }
                .btn{ margin: 80px 40px 0 0; }
            }
        }
    }

    .part-holder.center{
        .photo-holder{ display: none; }
        .background-circle-holder{
            display: block;
            width: 80%;
            padding-top: 80%;
        }
        .info-holder{
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            p{ padding: 0 40px; }
        }
        .arrow-down-holder{ display: block; }
    }
    
    .part-holder.top-middle{
        position: absolute;
        z-index: 20;
        transform: translateY(-100%);
        &.active{ transform: translateY(0%); }
        .close{
            display: block;
        }
    }

}

@media only screen and @mobile{

    .part-holder{
        .info-holder{
            bottom: 40px;
            .upper-title{ display: none; }
            .underline{ display: none; }
            h2{ padding: 0 20px 0;  }
            p{ padding: 20px 20px 0; }
            .btn{ margin: 40px 0 0 20px; }
        }
        &.right-side{
            .info-holder{
                h2{ padding: 0 20px 0; }
                p{ padding: 20px 20px 0; }
                .btn{ margin: 40px 20px 0 0; }
            }
        }
    }

    .part-holder.center{
        .info-holder{
            .upper-title,
            .underline{
                display: none;
            }
            h1{
                margin-top: 40px;
                padding: 0 40px;
            }
            p{ padding: 0 20px; }
            .btn{ margin: 40px auto 0; }
            .social-holder{ width: 100%; }
        }
        .arrow-down-holder{
            display: none;
        }
    }

    .part-holder.top-middle{
        .close{
            top: 40px;
            right: 40px;
        }
    }

}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  adaptive end                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/