@font-face {
  font-family: "DejaVuSansCondensed";
  src: url("../fonts/dejavu/DejaVuSansCondensed.eot?#iefix") format("embedded-opentype"),
       url("../fonts/dejavu/DejaVuSansCondensed.woff") format("woff"),
       url("../fonts/dejavu/DejaVuSansCondensed.ttf") format("truetype"),
       url("../fonts/dejavu/DejaVuSansCondensed.svg#DejaVuSansCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DejaVuSans";
  src: url("../fonts/dejavu/DejaVuSans.eot?#iefix") format("embedded-opentype"),
       url("../fonts/dejavu/DejaVuSans.woff") format("woff"),
       url("../fonts/dejavu/DejaVuSans.ttf") format("truetype"),
       url("../fonts/dejavu/DejaVuSans.svg#DejaVuSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DejaVuSans-ExtraLight";
  src: url("../fonts/dejavu/DejaVuSans-ExtraLight.eot?#iefix") format("embedded-opentype"),
       url("../fonts/dejavu/DejaVuSans-ExtraLight.woff") format("woff"),
       url("../fonts/dejavu/DejaVuSans-ExtraLight.ttf") format("truetype"),
       url("../fonts/dejavu/DejaVuSans-ExtraLight.svg#DejaVuSans-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  system variables start                    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@black: #000;
@grey: #141414;
@white: #fefefe;

@djsc: "DejaVuSansCondensed", sans-serif;
@djs: "DejaVuSans", sans-serif;
@djsl: "DejaVuSans-ExtraLight", sans-serif;

@easing: ease;
@images: "../images/";

@notebook: ~"(max-width: 1280px)";
@tablet: ~"(max-width: 800px)";
@mobileL: ~"(max-width: 640px)";
@mobileM: ~"(max-width: 440px)";
@mobileS: ~"(max-width: 320px)";
@landscape: ~"and (orientation: landscape) and (max-width: 1024px)";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  system variables end                      */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  mixins start                              */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.dashed(){
    border: 2px dashed @white;
    border-radius: 50%;
    box-sizing: border-box;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  mixins end                                */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  helpers start                             */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.clearfix{
    &:after{
        display: block;
        height: 0;
        font-size: 0;
        content: " ";
        clear: both;
        visibility: hidden;
    }
}
figure,
figure > img,
img{
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.svg-holder{ position: relative; }
svg{
    position: absolute;
    top: 0;
    left: 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  helpers end                               */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



